{% include "head.html" %}

<html lang="en">

<body class="d-flex h-100 text-center text-white" style="background-color:#00b894;">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
        {% include "nav.html" %}
    </div>
  </header>

  <main class="px-3">
      <br>
      <br>
      <br>
      <br>
    <h1 style="font-family: 'Homemade Apple', cursive; color:white; font-size:75px; color:#ffeaa7;">Find The Colors</h1>
    <p class="lead">Upload an image and receive a custom palette comprised of the image's most prominent colors.
        <br>Find your hidden colors!</p>
      <p class = "lead" style = "font-size:100px;">🎨</p>
        <br>
      <a href="{{url_for('create')}}" class="btn btn-lg btn-outline-warning" style="color:#ffeaa7">Get Started</a>
    </p>
  </main>
    {% include "footer.html" %}
</div>



{% include "js.html" %}
</body>
</html>