<header class="p-3 text-black" style="background-color:#00b894;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url_for('home')}}" class="nav-link px-3 text-light" style="font-family: 'Homemade Apple', cursive;"> Home</a></li>
        <li><a href="{{url_for('library')}}" class="nav-link px-3 text-light" style="font-family: 'Homemade Apple', cursive;">Library</a></li>
        <li><a href="{{url_for('create')}}" class="nav-link px-3 text-light" style="font-family: 'Homemade Apple', cursive;">Create</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn text-muted" style="font-family: 'Homemade Apple', cursive;"><a href="https://www.buymeacoffee.com/heydarnaghiyev" target="_blank" style ="color:#ffeaa7;text-decoration:none; }">Buy Me a Coffee</a></button>
      </div>
    </div>
  </div>
</header>